.button {
  display: block;
  cursor: pointer;
  border-radius: 25px;
  text-align: center;
  padding: 10px 25px;
  text-transform: uppercase;
  font-weight: bold;

  &:active {
    transform: scale(1.2);
    transition: transform .2s;
  }

  &:hover {
    opacity: .8;
  }

  &--theme-blue {
    background-color: #2e3047;
    color: #fff;
  }

  &--size-medium {
    width: 200px;
  }

  &--type-travel {
    background-color: #4ac24a;
  }

  &--type-animals {
    background-color: #4ac24a;
  }

  &--type-food {
    background-color: #4ac24a;
  }

  &--type-misce {
    background-color: #4ac24a;
  }

  &--type-start {
    animation-name: flashing;
    animation-duration: 900ms;
    animation-iteration-count: infinite;
  }

  @keyframes flashing {
    100% {transform: scale(1.2);;

    }
  }
}
