.grid {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;

  &--column {
    flex-direction: column;
  }

  &--row {
    flex-direction: row;
  }

  &--justify-center {
    justify-content: center;
  }

  &--gutters-small {
    margin-left: -15px;

    >* {
      padding-left: 15px;
    }
  }
}
